:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: #6d636300;
}

body {
  align-items: center;
  background-color: coral;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 25px;
}

h2 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 20px;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: rgb(107, 154, 207);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: #4e4a4a;
  cursor: pointer;
  height: 150px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 150px;
}

.tecla.ativa,
.tecla:active {
  background-color:#4e4a4a;
  border: 4px solid  #5e5959;
  box-shadow: 3px 3px 0 var(#6d636300)inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.ativa:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(#6d636300) inset, 1px 1px 10px var(--luz);
}
#golpes{
  width: 120px;
  height: 120px;
  margin-top: 15px;
  border-radius: 30px;
}